name: "CI"
"on": pull_request
jobs:
  test:
    name: "Build and run tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
      - name: Install dependencies using Poetry
        run: poetry install
      - name: Run tests
        run: poetry run pytest
      - name: Lint files using Ruff
        run: poetry run ruff .
